# PROJECT W5/6
**The 2 Weeks Project.**  
<font color=red>Netflix shows</font>

Helpful links:  
https://usa.newonnetflix.info  
https://www.ratingraph.com/tv-shows/

https://en.wikipedia.org/wiki/List_of_Netflix_original_programming#Animation  
https://www.imdb.com/chart/toptv

***

## Data Preparation

### Story

**1. Import the datasets**
 
https://www.kaggle.com/shivamb/netflix-shows  
https://datasets.imdbws.com/

Libraries used:

In [1]:
import pandas as pd
import numpy as np

import requests as r
from bs4 import BeautifulSoup

**The main dataframe**

In [2]:
# Main dataset consists of tv shows and movies available on Netflix as of 2019
# Found on Kaggle and collected from Flixable (third-party Netflix search engine)
path = '/netflix_titles.csv'
df = pd.read_csv(path)
df.shape

(6234, 12)

In [3]:
# Check if type of title is specified in columns 
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [4]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [5]:
# Drop all Movies from dataframe, focus on TV Shows
df.drop(df[df.type == 'Movie'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df.shape

(1969, 12)

In [6]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
1,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
2,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
3,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
4,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

**The IMDb Ratings dataframe**

In [7]:
# The second dataset comes from the dataset files of IMDb 
# I'll download 'title ratings' to have the average rating of each show we have
filename='/title.ratings.tsv'
imdbratings = pd.read_csv(filename, sep='\t', header=0)
imdbratings.shape

(1054976, 3)

In [8]:
# Since the dataframe comes from IMDb's database, it contains data for much more than just tv series
# Unfortunately we don't have the type of title, so we'll leave the dataframe as is 
imdbratings.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [9]:
imdbratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1630
1  tt0000002            6.1       196
2  tt0000003            6.5      1321
3  tt0000004            6.2       119
4  tt0000005            6.1      2106

**The IMDb Titles dataframe**

In [10]:
# The third dataset also comes from the dataset files of IMDb 
# I'll download 'title basics' to have basic information of each title 
filename='/title.basics.tsv'
imdbtitle = pd.read_csv(filename, sep='\t', header=0)
imdbtitle.shape

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(6993900, 9)

In [11]:
# Since the dataframe comes from IMDb's database, it contains data for much more than just tv series
# Here we have the type of title, so we can drop the data we don't need
imdbtitle.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [12]:
imdbtitle['titleType'].unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [13]:
imdbtitle.drop(imdbtitle[(imdbtitle.titleType == 'short') |
                         (imdbtitle.titleType == 'movie') |
                         (imdbtitle.titleType == 'tvMovie') |
                         (imdbtitle.titleType == 'tvEpisode') |
                         (imdbtitle.titleType == 'tvShort') |
                         (imdbtitle.titleType == 'video') | 
                         (imdbtitle.titleType == 'videoGame')].index, inplace=True)

imdbtitle.reset_index(drop=True, inplace=True)
imdbtitle.shape

(249577, 9)

In [14]:
# Now that we're left with tv shows, we can drop titleType
imdbtitle.drop(['titleType'], axis=1, inplace=True)
imdbtitle.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear',
       'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [15]:
imdbtitle.head(5)

,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035599,Voice of Firestone Televues,Voice of Firestone Televues,0,1943,1947,15,\N
1,tt0035803,The German Weekly Review,Die Deutsche Wochenschau,0,1940,1945,12,"Documentary,News"
2,tt0038276,You Are an Artist,You Are an Artist,0,1946,1950,15,\N
3,tt0039120,Americana,Americana,0,1947,1949,30,"Family,Game-Show"
4,tt0039121,Birthday Party,Birthday Party,0,1947,1949,30,Family

***

**2. Define the context of the project**

Where do you work? Why this project?

In [16]:
print("""I work for Netflix, in the TV Shows departement. 
It's end of 2019 and my bosses want me to give a compte-rendu of our catalogue:
- What is in it?
- How well are our original productions doing?""")

I work for Netflix, in the TV Shows departement.
It's end of 2019 and my bosses want me to give a compte-rendu of our catalogue:
- What is in it?
- How well are our original productions doing?

What is the objective of study? What is the goal(goals)?

In [17]:
print("""Conduct a 3 step analysis...

1. Looking at the Netflix catalogue:  
- what type of series do we have the most of?
- are there genres that are more popular than others?

2. Looking at Netflix Originals:
- what are we producing the most?
- what is the average rating for our original content?

3. Comparing to IMDb's 250 Top Rated TV Shows:
- how many of the TV shows in this list do we currently have the rights of? 


To better understand the content we produce. 
""")

Conduct a 3 step analysis...

1. Looking at the Netflix catalogue:
- what type of series do we have the most of?
- are there genres that are more popular than others?

2. Looking at Netflix Originals:
- what are we producing the most?
- what is the average rating for our original content?

3. Comparing to IMDb's 250 Top Rated TV Shows:
- how many of the TV shows in this list do we currently have the rights of?


To better understand the content we produce.

**3. Define the expectations of the project**

Workflow

Results, conclusions and recommendations

### Data cleaning the Kaggle dataframe

In [18]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

Leave as:
- title OBJ

check/change:
- cast OBJ (check how many nan)
- country OBJ (check how many nan)
- listed_in OBJ (change to genres)
- date_added (change into INT)
- rating (check the unique values, change into INT)
- duration (in seasons, chango into INT)
- release_year INT

delete:
- show_id (useless)
- type (I don't need it anymore since we only kept tv shows)
- director (too many nan)
- description (useless in my analysis)

add:
- IMDb ratings (INT) from IMDb database
- runtime (show duration INT) from IMDb database

**Duplicates**

In [19]:
# Check for duplicates
dftitle_dups = df[df.duplicated('title', keep=False)]
dftitle_dups.title.value_counts()
# or also 'df.title.duplicated().sum()''

Maniac             2
Life               2
Top Boy            2
Rosario Tijeras    2
Tunnel             2
The Code           2
Oh My Ghost        2
Charmed            2
Persona            2
Kakegurui          2
Lovesick           2
Name: title, dtype: int64

In [20]:
dftitle_dups.sort_values(by=['title'])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1436,70155629,TV Show,Charmed,NaN,"Holly Marie Combs, Alyssa Milano, Brian Krause...",United States,"October 1, 2017",2005,TV-PG,8 Seasons,"Romantic TV Shows, TV Comedies, TV Dramas",After a trio of sisters discover an ancient te...
401,81013657,TV Show,Charmed,NaN,"Madeleine Mantock, Sarah Jeffery, Melonie Diaz...",United States,"May 27, 2019",2019,TV-PG,1 Season,"TV Dramas, TV Sci-Fi & Fantasy","After their mother’s tragic death, a trio of s..."
1652,80175351,TV Show,Kakegurui,NaN,"Saori Hayami, Minami Tanaka, Tatsuya Tokutake,...",Japan,"June 13, 2019",2019,TV-14,2 Seasons,"Anime Series, International TV Shows, TV Thril...",High roller Yumeko Jabami plans to clean house...
1666,80233218,TV Show,Kakegurui,NaN,"Minami Hamabe, Mahiro Takasugi, Aoi Morikawa",Japan,"July 4, 2019",2019,TV-14,2 Seasons,"International TV Shows, TV Dramas, TV Thrillers",Yumeko Jabami enrolls at Hyakkaou Private Acad...
83,81011508,TV Show,Life,NaN,"Lee Dong-wook, Cho Seung-woo, Won Jin-ah, Lee ...",South Korea,"September 12, 2018",2018,TV-MA,1 Season,"International TV Shows, Korean TV Shows, TV Dr...","At Korea's top university medical center, idea..."
1257,70225722,TV Show,Life,NaN,David Attenborough,"United Kingdom, United States, Greece, Italy, ...","April 22, 2015",2009,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Discover the glorious variety of life on Earth...
18,80184358,TV Show,Lovesick,NaN,"Kongyingyong Chonlathorn, Phumphothingam Nawat...",NaN,"September 3, 2018",2014,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Love and academics get complicated at an all-m...
1762,80041601,TV Show,Lovesick,NaN,"Johnny Flynn, Antonia Thomas, Daniel Ings, Han...",United Kingdom,"January 1, 2018",2018,TV-MA,3 Seasons,"British TV Shows, International TV Shows, Roma...","In his quest for true love, Dylan found chlamy..."
101,80133200,TV Show,Maniac,NaN,"Espen Petrus Andersen Lervaag, Håkon Bast Moss...",Norway,"September 1, 2017",2015,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",A nondescript man in a mental hospital has an ...
34,80124522,TV Show,Maniac,NaN,"Emma Stone, Jonah Hill, Justin Theroux, Sally ...",United States,"September 21, 2018",2018,TV-MA,1 Season,"TV Comedies, TV Dramas, TV Mysteries",Two struggling strangers connect during a mind...
301,80993625,TV Show,Oh My Ghost,NaN,"Nuengthida Sophon, Keerati Mahaprukpong, Arak ...",Thailand,"November 21, 2018",2018,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",When a skilled but timid chef is possessed by ...
1110,80178404,TV Show,Oh My Ghost,NaN,"Park Bo-young, Cho Jung-seok, Lim Ju-hwan, Kim...",South Korea,"August 8, 2019",2015,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...","Possessed by the ghost of a lustful virgin, a ..."
1176,80163530,TV Show,Persona,NaN,"Loo Aye Keng, Kyo, Jojo Goh, Fabian Loo, Emily...",NaN,"August 14, 2017",2015,TV-PG,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A private investigation firm takes on sensitiv...
1289,81044884,TV Show,Persona,"Lee Kyoungmi, Yim Pilsung, Jeon Go-woon, Kim J...","Lee Ji-eun (IU), Bae Doona, Park Hae Soo, Kim ...",South Korea,"April 11, 2019",2019,TV-MA,1 Season,"International TV Shows, Korean TV Shows, TV Dr...",An exploration of different personas in an ecl...
1282,70205713,TV Show,Rosario Tijeras,NaN,"María Fernanda Yépez, Andrés Sandoval, Sebasti...",Colombia,"April 15, 2017",2010,TV-14,1 Season,"Crime TV Shows, International TV Shows, Spanis...","This is Rosario's story, a girl born and raise..."
1541,80170690,TV Show,Rosario Tijeras,NaN,"Bárbara de Regil, José María de Tavira, Antoni...",Mexico,"May 20, 2019",2018,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",Worlds collide when a vengeance-obsessed young...
237,80002999,TV Show,The Code,NaN,"Dan Spielman, Ashley Zukerman, Adele Perovic, ...",Australia,"October 1, 2017",2014,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","Investigating a deadly car crash, a journalist..."
930,80063658,TV Show,The Code,NaN,Marcus du Sautoy,United Kingdom,"February 1, 2018",2011,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","In this three-part documentary series, host Ma..."
79,80217669,TV Show,Top Boy,NaN,"Ashley Walters, Kane Robinson, Micheal Ward, S...",United Kingdom,"September 13, 2019",2019,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",Two seasoned drug dealers return to the gritty...
1509,70236561,TV Show,Top Boy,NaN,"Ashley Walters, Kane Robinson, Malcolm Kamulet...",United Kingdom,"November 1, 2017",2011,TV-MA,2 Seasons,"British TV Shows, Crime TV Shows, Internationa...","In this gritty, stylish drama series, two Lond..."
220,81167047,TV Show,Tunnel,NaN,"Choi Jin-hyuk, Yoon Hyun-min, Lee Yoo-young, C...",South Korea,"October 1, 2019",2017,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Korean...","While chasing a serial murderer, a detective e..."
129,81142594,TV Show,Tunnel,NaN,"Todsapol Maisuk, Johnny Hao, Morakot Liu, Pemy...",NaN,"October 30, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A detective finds himself 30 years in the futu...

In [21]:
# Clean the dups one by one
df.at[401, 'title'] = 'Charmed 2018'
df.at[1436, 'title'] = 'Charmed 1998'

df.at[1652, 'title'] = 'Kakegurui 2017'
df.at[1666, 'title'] = 'Kakegurui 2018'

df.at[83, 'title'] = 'Life (Laipeu)'

df.at[18, 'title'] = 'Love Sick'

df.at[34, 'title'] = 'Maniac 2018'
df.at[101, 'title'] = 'Maniac 2014'

df.at[301, 'title'] = 'Oh My Ghost 2018'
df.at[1110, 'title'] = 'Oh My Ghost 2015'

df.at[1176, 'title'] = 'Persona 2015'
df.at[1289, 'title'] = 'Persona 2010'

df.at[1282, 'title'] = 'Rosario Tijeras 2010'
df.at[1541, 'title'] = 'Rosario Tijeras 2016'

df.at[930, 'title'] = 'The Code (Documentary)'

df.at[129, 'title'] = 'Tunnel 2019'
df.at[220, 'title'] = 'Tunnel 2017'

df.at[79, 'title'] = 'Top Boy (revival)'

In [22]:
# The Kaggle dataset seperates Top Boy's revival from the original, 
# but IMDb considers the TV Series as one so we'll update the cast and seasons and drop the dup 
df.at[1509, 'cast'] = "Ashley Walters, Kane Robinson, Malcolm Kamulete, Shone Romulus, Sharon Duncan Brewster, Giacomo Mancini, Xavien Russell, Kierston Wareing, Geoff Bell, Nicholas Pinnock, Micheal Ward, Simbiatu Ajikawo, Lisa Dwan, David Omoregie, Jasmine Jobson, Hope Ikpoku Jr., Araloyin Oshunremi, Keiyon Cook"
df.at[1509, 'duration'] = '3 seasons'

In [23]:
df.drop(df[df.title == 'Top Boy (revival)'].index, inplace=True)

df.reset_index(drop=True, inplace=True)
df.shape

(1968, 12)

In [24]:
# Check the duplicates again
dftitle_dups = df[df.duplicated('title', keep=False)]
dftitle_dups.title.sum()

0

**Type**

In [25]:
df['type'].unique()

array(['TV Show'], dtype=object)

In [26]:
df.drop(['type'], axis=1, inplace=True)
df.columns

Index(['show_id', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

**Director**

In [27]:
df['director'].isnull().sum()

1840

In [28]:
df.drop(['director'], axis=1, inplace=True)
df.columns

Index(['show_id', 'title', 'cast', 'country', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

**Cast**

In [29]:
df['cast'].isnull().sum()

210

In [30]:
df['cast'].fillna('Unspecified', inplace=True)

In [31]:
df['cast'].isnull().sum()

0

**Country**

In [32]:
# Check for null
df['country'].isnull().sum()

281

In [33]:
df['country'].fillna('Unspecified', inplace=True)

In [34]:
df['country'].isnull().sum()

0

In [35]:
# Reduce the unique values
countries = df['country'].unique()

In [36]:
max(countries, key = len)

'United Kingdom, United States, Spain, Germany, Greece, Canada'

In [37]:
df[['main_country','country_2','country_3','country_4','country_5', 'country_6']] = df.country.str.split(',',expand=True,)

In [38]:
df

,show_id,title,cast,country,date_added,release_year,rating,duration,listed_in,description,main_country,country_2,country_3,country_4,country_5,country_6
0,70234439,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",United States,None,None,None,None,None
1,80058654,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,United States,None,None,None,None,None
2,80163890,Apaches,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,Spain,None,None,None,None,None
3,80117902,Fire Chasers,Unspecified,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",United States,None,None,None,None,None
4,80244601,Castle of Stars,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",Unspecified,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...,Unspecified,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,80159925,Kikoriki,Igor Dmitriev,Unspecified,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,Unspecified,None,None,None,None,None
1964,80000063,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",United States,None,None,None,None,None
1965,70286564,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",United States,None,None,None,None,None
1966,70281022,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",United Kingdom,None,None,None,None,None
1967,70153404,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,United States,None,None,None,None,None

In [39]:
df.main_country.value_counts()

United States           620
Unspecified             281
United Kingdom          200
Japan                   132
South Korea             109
Canada                   76
Taiwan                   65
India                    55
France                   50
Australia                44
Spain                    39
Mexico                   33
China                    33
Turkey                   25
Colombia                 19
Thailand                 17
Brazil                   15
Argentina                14
Russia                   12
Germany                  11
Italy                    10
Singapore                10
Denmark                   9
Israel                    8
Egypt                     8
Norway                    8
Malaysia                  7
Ireland                   7
Belgium                   6
Lebanon                   6
Poland                    5
Sweden                    5
Pakistan                  4
Netherlands               3
Chile                     3
Finland                   3
Hong Kong                 2
New Zealand               2
Ukraine                   2
United Arab Emirates      1
Switzerland               1
Iceland                   1
Saudi Arabia              1
Philippines               1
Croatia                   1
Czech Republic            1
Mauritius                 1
Cyprus                    1
Indonesia                 1
Name: main_country, dtype: int64

In [40]:
df['country_6'].isnull().sum()

1964

In [41]:
df['country'] = df['main_country']

In [42]:
df.drop(['main_country', 'country_2', 'country_3', 'country_4', 'country_5','country_6'], axis=1, inplace=True)
df.columns

Index(['show_id', 'title', 'cast', 'country', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [43]:
df.country.nunique()

49

**Date Added**

In [44]:
df['date_added']

0       September 8, 2018
1       September 8, 2018
2       September 8, 2017
3       September 8, 2017
4       September 7, 2018
              ...
1963                  NaN
1964                  NaN
1965                  NaN
1966                  NaN
1967                  NaN
Name: date_added, Length: 1968, dtype: object

In [45]:
df['date_added'] = df['date_added'].str[-4:]

In [46]:
df['date_added'].unique()

array(['2018', '2017', '2019', '2016', '2012', '2013', '2015', '2020',
       '2008', '2014', nan], dtype=object)

In [47]:
df[df['date_added'].isnull()]

,show_id,title,cast,country,date_added,release_year,rating,duration,listed_in,description
1958,70204989,Gunslinger Girl,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe..."
1959,70304979,Anthony Bourdain: Parts Unknown,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
1960,70153412,Frasier,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
1961,70243132,La Familia P. Luche,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
1962,80005756,The Adventures of Figaro Pho,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."
1963,80159925,Kikoriki,Igor Dmitriev,Unspecified,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
1964,80000063,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
1965,70286564,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
1966,70281022,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
1967,70153404,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [48]:
# Research and replace the missing values
df.at[1958, 'date_added'] = 2016
df.at[1959, 'date_added'] = 2017
df.at[1960, 'date_added'] = 2016
df.at[1961, 'date_added'] = 2015
df.at[1962, 'date_added'] = 2014
df.at[1963, 'date_added'] = 2017
df.at[1964, 'date_added'] = 2014
df.at[1965, 'date_added'] = 2017
df.at[1966, 'date_added'] = 2014
df.at[1967, 'date_added'] = 2015

In [49]:
df.rename(columns={'date_added':'year_added'}, inplace=True)

In [50]:
df['year_added'].isnull().sum()

0

**Release Year**

In [51]:
# The release year doesn't seem to add up for some TV Series
# So it's probably counting the latest seasons for the series with more than one season
df.rename(columns={'release_year':'latest_release_year'}, inplace=True)

In [52]:
df.latest_release_year.unique()

array([2013, 2016, 2017, 2015, 2018, 2019, 2014, 2011, 2012, 2009, 2010,
       2007, 1988, 2008, 1972, 2005, 2006, 2001, 1999, 1985, 2003, 2004,
       2002, 2020, 1989, 1996, 1993, 1995, 1991, 1986, 2000, 1997, 1998,
       1990, 1946, 1979, 1925, 1981, 1994, 1974, 1968, 1977, 1992, 1967,
       1963])

**Rating**

In [53]:
df.rating.unique()

array(['TV-Y7-FV', 'TV-Y7', 'TV-MA', 'TV-14', 'TV-PG', 'TV-Y', 'TV-G',
       'NR', 'G', nan, 'R', 'PG'], dtype=object)

In [54]:
# Create a scale for the rating:

#   4. Mature Audience
#TV-MA = 17
#R = 17 
df['rating'] = np.where((df.rating == 'TV-MA'),4,df.rating)
df['rating'] = np.where((df.rating == 'R'),4,df.rating)

#   3. Older children
#TV-Y7-FV = fantasy violance 
#TV-Y7 = 7 and up
#TV-14 = 14 and up
df['rating'] = np.where((df.rating == 'TV-Y7-FV'),3,df.rating)
df['rating'] = np.where((df.rating == 'TV-Y7'),3,df.rating)
df['rating'] = np.where((df.rating == 'TV-14'),3,df.rating)

#   2. Under adult supervision
#TV-PG = parental guidance suggested
#PG = parental guidance
df['rating'] = np.where((df.rating == 'TV-PG'),2,df.rating)
df['rating'] = np.where((df.rating == 'PG'),2,df.rating)

#   1. General Audience 
#TV-Y = all children
#TV-G = all ages
#G = general audience 
df['rating'] = np.where((df.rating == 'TV-Y'),1,df.rating)
df['rating'] = np.where((df.rating == 'TV-G'),1,df.rating)
df['rating'] = np.where((df.rating == 'G'),1,df.rating)

#   0. No rating
#NR = not rated 
df['rating'] = np.where((df.rating == 'NR'),0,df.rating)

In [55]:
df.rating.value_counts()

3    828
4    680
2    270
1    172
0     16
Name: rating, dtype: int64

In [56]:
df[df.rating.isnull()]

,show_id,title,cast,country,year_added,latest_release_year,rating,duration,listed_in,description
927,80078037,Little Lunch,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,2018,2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
1093,80039789,Gargantia on the Verdurous Planet,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,2016,2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."

In [57]:
df.at[927, 'rating'] = 3
df.at[1093, 'rating'] = 3

In [58]:
df.rating.isnull().sum()

0

In [59]:
df.rename(columns={'rating':'audience_rating'}, inplace=True)

**Duration**

In [60]:
df.duration.unique()

array(['1 Season', '2 Seasons', '5 Seasons', '3 Seasons', '7 Seasons',
       '4 Seasons', '8 Seasons', '6 Seasons', '9 Seasons', '3 seasons',
       '14 Seasons', '10 Seasons', '12 Seasons', '15 Seasons',
       '11 Seasons', '13 Seasons'], dtype=object)

In [61]:
df['duration'] = df['duration'].str[:2]

In [62]:
df.duration.value_counts()

1     1320
2      303
3      159
4       61
5       46
6       22
7       21
8       16
9        7
10       3
11       3
13       2
15       2
12       2
14       1
Name: duration, dtype: int64

In [63]:
df.rename(columns={'duration':'seasons'}, inplace=True)

**Listed In**

In [64]:
df.listed_in

0                                                Kids' TV
1                                                Kids' TV
2       Crime TV Shows, International TV Shows, Spanis...
3                         Docuseries, Science & Nature TV
4       International TV Shows, Romantic TV Shows, TV ...
                              ...
1963                                             Kids' TV
1964    TV Action & Adventure, TV Comedies, TV Sci-Fi ...
1965                                          TV Comedies
1966             British TV Shows, TV Comedies, TV Dramas
1967                       Classic & Cult TV, TV Comedies
Name: listed_in, Length: 1968, dtype: object

In [65]:
df['A'], df['B'] = df['listed_in'].str.split(',', 1).str

In [66]:
df

,show_id,title,cast,country,year_added,latest_release_year,audience_rating,seasons,listed_in,description,A,B
0,70234439,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018,2013,3,1,Kids' TV,"With the help of three human allies, the Autob...",Kids' TV,NaN
1,80058654,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018,2016,3,1,Kids' TV,When a prison ship crash unleashes hundreds of...,Kids' TV,NaN
2,80163890,Apaches,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2017,2016,4,1,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,Crime TV Shows,"International TV Shows, Spanish-Language TV S..."
3,80117902,Fire Chasers,Unspecified,United States,2017,2017,4,1,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",Docuseries,Science & Nature TV
4,80244601,Castle of Stars,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",Unspecified,2018,2015,3,1,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...,International TV Shows,"Romantic TV Shows, TV Comedies"
...,...,...,...,...,...,...,...,...,...,...,...,...
1963,80159925,Kikoriki,Igor Dmitriev,Unspecified,2017,2010,1,2,Kids' TV,A wacky rabbit and his gang of animal pals hav...,Kids' TV,NaN
1964,80000063,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2014,2015,0,13,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",TV Action & Adventure,"TV Comedies, TV Sci-Fi & Fantasy"
1965,70286564,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2017,2016,4,4,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",TV Comedies,NaN
1966,70281022,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2014,2013,4,2,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",British TV Shows,"TV Comedies, TV Dramas"
1967,70153404,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2015,2003,3,10,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,Classic & Cult TV,TV Comedies

In [67]:
df.rename(columns={'A':'main_category'}, inplace=True)
df.drop(['listed_in', 'B'], axis=1, inplace=True)
df.columns

Index(['show_id', 'title', 'cast', 'country', 'year_added',
       'latest_release_year', 'audience_rating', 'seasons', 'description',
       'main_category'],
      dtype='object')

**Description**

In [68]:
df.drop(['description'], axis=1, inplace=True)
df.columns

Index(['show_id', 'title', 'cast', 'country', 'year_added',
       'latest_release_year', 'audience_rating', 'seasons', 'main_category'],
      dtype='object')

In [69]:
df

,show_id,title,cast,country,year_added,latest_release_year,audience_rating,seasons,main_category
0,70234439,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018,2013,3,1,Kids' TV
1,80058654,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018,2016,3,1,Kids' TV
2,80163890,Apaches,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2017,2016,4,1,Crime TV Shows
3,80117902,Fire Chasers,Unspecified,United States,2017,2017,4,1,Docuseries
4,80244601,Castle of Stars,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",Unspecified,2018,2015,3,1,International TV Shows
...,...,...,...,...,...,...,...,...,...
1963,80159925,Kikoriki,Igor Dmitriev,Unspecified,2017,2010,1,2,Kids' TV
1964,80000063,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2014,2015,0,13,TV Action & Adventure
1965,70286564,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2017,2016,4,4,TV Comedies
1966,70281022,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2014,2013,4,2,British TV Shows
1967,70153404,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2015,2003,3,10,Classic & Cult TV

**Check dTypes**

In [70]:
df.dtypes

show_id                 int64
title                  object
cast                   object
country                object
year_added             object
latest_release_year     int64
audience_rating        object
seasons                object
main_category          object
dtype: object

In [71]:
df = df.astype({'year_added': 'int64', 'audience_rating': 'int64', 'seasons': 'int64'})

In [72]:
df.dtypes

show_id                 int64
title                  object
cast                   object
country                object
year_added              int64
latest_release_year     int64
audience_rating         int64
seasons                 int64
main_category          object
dtype: object

### Data cleaning the IMDb dataframes

**The IMDb Ratings dataframe**

In [73]:
 imdbratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1630
1  tt0000002            6.1       196
2  tt0000003            6.5      1321
3  tt0000004            6.2       119
4  tt0000005            6.1      2106

In [74]:
imdbratings.averageRating.unique()

array([ 5.7,  6.1,  6.5,  6.2,  5.2,  5.5,  5.4,  5.9,  6.9,  7.4,  5.8,
        7.2,  4.7,  5.3,  5. ,  5.1,  4.6,  4.1,  5.6,  4.4,  3.7,  4.3,
        6.6,  3.9,  4.8,  4.5,  3.8,  4.9,  2.8,  3.6,  3.2,  7.6,  4. ,
        6.4,  6.3,  4.2,  6.7,  6. ,  6.8,  3.4,  7.5,  7.3,  7.1,  8.1,
        7. ,  8.2,  8. ,  3.5,  7.8,  2.6,  3.3,  8.3,  3.1,  8.5,  2.9,
        7.7,  8.7,  8.9,  9.2,  9. ,  1.8,  1.5,  3. ,  1.6,  8.4,  2. ,
        7.9,  1.1,  1.7,  2.5,  2.4,  2.1,  8.6,  8.8,  9.1,  1.3,  1.9,
        9.3,  1. ,  2.2,  9.4,  2.3,  2.7,  9.7,  1.4,  9.6, 10. ,  9.5,
        9.9,  9.8,  1.2])

In [75]:
imdbratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

**The IMDb Titles dataframe**

In [76]:
imdbtitle.head(5)

,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035599,Voice of Firestone Televues,Voice of Firestone Televues,0,1943,1947,15,\N
1,tt0035803,The German Weekly Review,Die Deutsche Wochenschau,0,1940,1945,12,"Documentary,News"
2,tt0038276,You Are an Artist,You Are an Artist,0,1946,1950,15,\N
3,tt0039120,Americana,Americana,0,1947,1949,30,"Family,Game-Show"
4,tt0039121,Birthday Party,Birthday Party,0,1947,1949,30,Family

In [77]:
#imdbtitle[imdbtitle.primaryTitle.str.contains('Persona')]
#imdbtitle[imdbtitle['primaryTitle'] == 'Top Boy']

In [78]:
# Update titles I changed in df so we can match everything
# Charmed
imdbtitle.at[202355, 'primaryTitle'] = 'Charmed 2018'
imdbtitle.at[8930, 'primaryTitle'] = 'Charmed 1998'

# Kakegurui
imdbtitle.at[213118, 'primaryTitle'] = 'Kakegurui 2017'
imdbtitle.at[221080, 'primaryTitle'] = 'Kakegurui 2018'

#Life
imdbtitle.at[228670, 'primaryTitle'] = 'Life (Laipeu)'

#Lovesick
imdbtitle.at[227468, 'primaryTitle'] = 'Love Sick'

#Maniac
imdbtitle.at[159007, 'primaryTitle'] = 'Maniac 2014'
imdbtitle.at[188566, 'primaryTitle'] = 'Maniac 2018'

#Oh My Ghost
imdbtitle.at[176248, 'primaryTitle'] = 'Oh My Ghost 2015'
imdbtitle.at[238832, 'primaryTitle'] = 'Oh My Ghost 2018'

#Persona
imdbtitle.at[56704, 'primaryTitle'] = 'Persona 2019'

#Rosario Tijeras
imdbtitle.at[114020, 'primaryTitle'] = 'Rosario Tijeras 2010'
imdbtitle.at[201355, 'primaryTitle'] = 'Rosario Tijeras 2016'

#The Code
imdbtitle.at[126968, 'primaryTitle'] = 'The Code (Documentary)'

#Tunnel
imdbtitle.at[90323, 'primaryTitle'] = 'Tunnel 2019'
imdbtitle.at[201698, 'primaryTitle'] = 'Tunnel 2017'

In [79]:
imdbtitle.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear',
       'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

**Primary Title**

**Original Title**

**isAdult**

In [80]:
imdbtitle.isAdult.unique()

array([0, 1])

In [81]:
imdbtitle.drop(['isAdult'], axis=1, inplace=True)
imdbtitle.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'startYear', 'endYear',
       'runtimeMinutes', 'genres'],
      dtype='object')

**Start Year**

In [82]:
imdbtitle.startYear.isnull().sum()

0

In [83]:
imdbtitle.startYear.unique()

array([1943, 1940, 1946, 1947, 1948, 1949, 1952, 1950, 1955, 1951, 1956,
       1953, 1954, 1957, 1958, 1960, 1965, 1959, 1964, 1961, 1962, 1963,
       1966, 1967, 1968, 1969, 1981, 1970, 1971, 1972, 1975, 1974, '1968',
       '1971', '1972', '1969', '1974', '1970', '1975', '1973', '1979',
       '1976', '1965', '1983', '1980', '1978', '1977', '1986', '1984',
       '1981', '1992', '1985', '1982', '1988', '1963', '1987', '1999',
       '1991', '1990', '1989', '1994', '1993', '1995', '1996', '1997',
       '2000', '1998', '1966', '\\N', '1949', '1959', '1961', '1967',
       '1944', '1948', '1952', '1951', '1953', '1947', '1958', '1955',
       '1962', '1956', '1946', '1954', '1957', '1964', '1960', '1950',
       '2001', '2002', '2009', '2005', '2015', '2007', '2017', '2012',
       '1936', '2003', '2004', '1924', '2008', '1939', '1937', '1938',
       '1941', '2020', '2010', '2016', '2018', '2006', '1945', '2011',
       '2013', '1931', '2019', '2021', '2014', '2022', '2023', '2026',
       '1943', '2024', '1922', '1940', '1935', '1912', '1942', '1926',
       '1910', '1929', '1932', '1934', '1933', '1930', '1928', '1902',
       '1906'], dtype=object)

In [84]:
imdbtitle['startYear'] = np.where((imdbtitle.startYear == '\\N'),np.nan,imdbtitle.startYear)

In [85]:
imdbtitle.startYear.isnull().sum()

13048

In [86]:
imdbtitle.rename(columns={'startYear':'release_year'}, inplace=True)

**End Year**

In [87]:
imdbtitle.endYear.isnull().sum()

0

In [88]:
imdbtitle.endYear.unique()

array(['1947', '1945', '1950', '1949', '\\N', '1958', '1951', '1952',
       '1954', '1957', '1953', '1956', '1967', '1971', '1959', '1955',
       '1963', '1960', '1961', '1965', '1980', '2016', '1986', '1962',
       '1972', '1966', '1970', '2009', '1973', '1987', '1991', '1974',
       '1992', '1976', '1975', '1982', '2010', '1984', '1964', '1968',
       '1989', '1969', '1994', '2004', '1981', '1977', '1999', '1988',
       '1985', '2003', '1978', '1993', '2001', '2013', '1997', '1996',
       '2011', '2005', '1995', '1979', '2006', '1983', '1990', '1998',
       '2008', '2012', '2007', '2014', '2020', '2015', '2000', '2019',
       '2002', '2018', '2021', '2017', '1948', '1938', '1942', '1933',
       '2026', '2022', '1944', '1946', '1941', '1937', '1939', '1932',
       '2025', '1936', '1924', '1935', '2027', '2023'], dtype=object)

In [89]:
imdbtitle['endYear'] = np.where((imdbtitle.endYear == '\\N'),np.nan,imdbtitle.endYear)

In [90]:
imdbtitle.endYear.isnull().sum()

186489

**Runtime Minutes**

In [91]:
imdbtitle.runtimeMinutes.isnull().sum()

0

In [92]:
imdbtitle.runtimeMinutes.unique()

array(['15', '12', '30', '60', '20', '10', '\\N', '25', '4', '90', '26',
       '55', '240', '23', '120', '105', '45', '28', '75', '35', '49',
       '24', '50', '400', '51', '497', '115', '7', '5', '217', '22', '48',
       '327', '317', '82', '40', '27', '52', '14', '230', '110', '480',
       '145', '104', '99', '155', '200', '434', '235', '85', '270', '186',
       '160', '360', '438', '380', '238', '190', '378', '316', '6', '109',
       '340', '300', '220', '80', '260', '344', '195', '225', '93', '540',
       '168', '150', '196', '476', '451', '100', '250', '166', '83',
       '180', '321', '268', '245', '201', '170', '450', '255', '210',
       '247', '350', '3', '69', '73', '348', '192', '890', '309', '653',
       '283', '212', '431', '47', '390', '54', '58', '370', '396', '282',
       '251', '320', '669', '467', '286', '328', '274', '34', '770',
       '203', '194', '198', '305', '500', '288', '373', '382', '178',
       '596', '588', '750', '599', '333', '614', '1256', '385', '780',
       '510', '475', '271', '67', '330', '278', '205', '53', '600', '92',
       '204', '291', '366', '440', '265', '215', '840', '275', '742',
       '931', '281', '70', '676', '279', '547', '173', '290', '673',
       '216', '358', '114', '77', '293', '152', '95', '206', '394', '301',
       '165', '233', '154', '381', '659', '107', '752', '46', '504',
       '256', '13', '410', '520', '239', '261', '720', '267', '460',
       '197', '883', '151', '284', '313', '420', '315', '237', '63',
       '778', '310', '413', '108', '402', '700', '11', '158', '272',
       '181', '139', '924', '102', '153', '176', '391', '561', '428',
       '455', '91', '121', '199', '285', '156', '130', '174', '269',
       '307', '304', '163', '306', '570', '569', '371', '185', '415',
       '42', '177', '376', '870', '312', '572', '407', '331', '135',
       '375', '374', '44', '112', '191', '118', '242', '436', '149',
       '171', '355', '21', '353', '148', '36', '29', '202', '65', '208',
       '193', '188', '236', '187', '266', '175', '367', '43', '303',
       '384', '1290', '345', '1620', '213', '318', '72', '159', '88',
       '624', '680', '262', '398', '226', '183', '229', '219', '207',
       '98', '17', '179', '567', '182', '87', '232', '606', '246', '97',
       '184', '61', '258', '66', '74', '62', '59', '241', '223', '113',
       '222', '322', '834', '161', '162', '157', '116', '1140', '1',
       '522', '263', '273', '96', '361', '19', '218', '164', '314', '515',
       '762', '227', '41', '308', '125', '167', '211', '528', '623',
       '537', '336', '172', '416', '341', '78', '568', '571', '132',
       '128', '556', '386', '383', '56', '650', '292', '343', '287', '2',
       '124', '698', '401', '377', '672', '465', '8', '702', '660', '257',
       '622', '356', '296', '228', '1352', '294', '122', '1320', '84',
       '33', '395', '57', '86', '94', '339', '138', '146', '140', '101',
       '259', '224', '351', '68', '32', '81', '388', '325', '357', '1120',
       '264', '254', '554', '612', '616', '127', '89', '349', '489',
       '458', '9', '169', '295', '627', '71', '594', '280', '253', '1080',
       '38', '16', '495', '347', '417', '147', '1800', '577', '126', '31',
       '1440', '323', '276', '129', '439', '2800', '491', '189', '1100',
       '37', '39', '406', '369', '297', '76', '214', '445', '435', '960',
       '119', '144', '615', '535', '277', '392', '209', '663', '693',
       '311', '136', '425', '544', '18', '298', '877', '389', '464',
       '545', '111', '640', '453', '106', '446', '117', '372', '629',
       '678', '1300', '352', '689', '252', '289', '793', '2925', '608',
       '142', '64', '231', '1170', '1084', '131', '457', '133', '338',
       '550', '701', '530', '346', '143', '103', '738', '354', '1260',
       '137', '1020', '1200', '646', '459', '579', '820', '704', '630',
       '552', '710', '514', '1664', '1215', '1755', '134', '1710', '1035',
       '1370', '1350', '1410', '1380', '326', '1430', '715', '221', '580',
       '79', '585', '302', '485', '364', '516', '705', '3600', '1196',
       '765', '502', '8400', '541', '652', '141', '1040', '1442', '598',
       '526', '334', '1248', '487', '1932', '466', '538', '4800', '3900',
       '2150', '403', '900', '527', '636', '575', '564', '412', '506',
       '800', '441', '519', '469', '1441', '490', '551', '421', '784',
       '123', '990', '3285', '234', '319', '249', '1400', '468', '584',
       '573', '324', '379', '1444', '479', '1845', '675', '244', '1050',
       '429', '521', '668', '337', '712', '736', '368', '418', '1554',
       '1500', '342', '473', '1560', '397', '1680', '362', '1568', '590',
       '853', '1210', '463', '1700', '557', '525', '810', '912', '1584',
       '795', '1470', '546', '1716', '2288', '3000', '365', '936', '747',
       '1008', '536', '1285', '655', '2565', '740', '1644', '335', '1000',
       '5220', '605', '1415', '511', '471', '243', '582', '771', '430',
       '299', '447', '492', '758', '496', '542', '625', '3825', '697',
       '1860', '691', '2015', '443', '499', '1329', '1532', '5760', '442',
       '248', '423', '404', '409', '1750', '1980', '716', '690', '755',
       '424'], dtype=object)

In [93]:
imdbtitle['runtimeMinutes'] = np.where((imdbtitle.runtimeMinutes == '\\N')
                                       ,np.nan,imdbtitle.runtimeMinutes)

In [94]:
imdbtitle.runtimeMinutes.isnull().sum()

144279

**Genres**

In [95]:
imdbtitle.genres.unique()

array(['\\N', 'Documentary,News', 'Family,Game-Show', ...,
       'Adventure,Comedy,News', 'Reality-TV,Sport,Thriller',
       'Adventure,Music'], dtype=object)

In [96]:
imdbtitle['genres'] = np.where((imdbtitle.genres == '\\N'),np.nan,imdbtitle.genres)

In [97]:
imdbtitle['A'], imdbtitle['B'] = imdbtitle['genres'].str.split(',', 1).str

In [98]:
imdbtitle['genres'] = imdbtitle['A']

In [99]:
imdbtitle.drop(['A', 'B'], axis=1, inplace=True)
imdbtitle.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'release_year', 'endYear',
       'runtimeMinutes', 'genres'],
      dtype='object')

**dTypes**

In [100]:
# Now that all the imdb info is in one table we can clean the dtypes
imdbtitle.dtypes

tconst            object
primaryTitle      object
originalTitle     object
release_year      object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [102]:
imdbtitle['release_year'] = pd.to_numeric(imdbtitle['release_year'], errors='coerce')
imdbtitle['endYear'] = pd.to_numeric(imdbtitle['endYear'], errors='coerce')

imdbtitle['release_year'] = imdbtitle['release_year'].fillna(0)
imdbtitle['endYear'] = imdbtitle['endYear'].fillna(0)

imdbtitle['release_year'] = imdbtitle['release_year'].astype(int)
imdbtitle['endYear'] = imdbtitle['endYear'].astype(int)

In [103]:
imdbtitle['runtimeMinutes'] = pd.to_numeric(imdbtitle['runtimeMinutes'], errors='coerce')
imdbtitle['runtimeMinutes'] = imdbtitle['runtimeMinutes'].fillna('0')
imdbtitle['runtimeMinutes'] = imdbtitle['runtimeMinutes'].astype(int)

In [104]:
imdbtitle.dtypes

tconst            object
primaryTitle      object
originalTitle     object
release_year       int64
endYear            int64
runtimeMinutes     int64
genres            object
dtype: object

****

**The two IMDb dataframes merged**

In [ ]:
# Before we merge the dataframes we should match the data
# imdbratings has  1054976 rows
# imdbtitle has     249577 rows

In [105]:
title_tconst_list = imdbtitle['tconst'].tolist()
len(title_tconst_list)

249577

In [106]:
title_tconst_in_ratings = imdbratings[imdbratings['tconst'].isin(title_tconst_list)]
title_tconst_in_ratings

            tconst  averageRating  numVotes
17596    tt0035803            7.8        31
20276    tt0039120            3.0         8
20277    tt0039123            8.5       128
20278    tt0039125            5.9         7
21005    tt0040021            7.3        55
...            ...            ...       ...
1054931  tt9915156            6.0         6
1054937  tt9915686            7.0       152
1054942  tt9915822            8.2        10
1054960  tt9916206            2.3        14
1054964  tt9916380            9.1       101

[89238 rows x 3 columns]

In [107]:
match_tconst_list = title_tconst_in_ratings['tconst'].tolist()
len(match_tconst_list)

89238

In [108]:
matched_tconst_in_title = imdbtitle[imdbtitle['tconst'].isin(match_tconst_list)]
matched_tconst_in_title

,tconst,primaryTitle,originalTitle,release_year,endYear,runtimeMinutes,genres
1,tt0035803,The German Weekly Review,Die Deutsche Wochenschau,1940,1945,12,Documentary
3,tt0039120,Americana,Americana,1947,1949,30,Family
6,tt0039123,Kraft Theatre,Kraft Television Theatre,1947,1958,60,Drama
8,tt0039125,Public Prosecutor,Public Prosecutor,1947,1951,20,Crime
9,tt0040021,Actor's Studio,Actor's Studio,1948,1950,30,Drama
...,...,...,...,...,...,...,...
249556,tt9915156,Tree in the River,Tree in the River,2018,0,0,Drama
249561,tt9915686,The Khatra Show,Khatra Khatra Khatra,2019,0,0,Comedy
249563,tt9915822,Ichhapyaari Naagin,Ichhapyaari Naagin,2016,2017,20,Fantasy
249571,tt9916206,Nojor,Nojor,2019,0,20,Fantasy
249575,tt9916380,Meie aasta Aafrikas,Meie aasta Aafrikas,2019,0,43,Adventure

In [109]:
# Now we can join title_tconst_in_ratings and matched_tconst_in_title 
# On their unique indentifier, tconst
imdb = matched_tconst_in_title.join(title_tconst_in_ratings.set_index('tconst'), on='tconst')
imdb

,tconst,primaryTitle,originalTitle,release_year,endYear,runtimeMinutes,genres,averageRating,numVotes
1,tt0035803,The German Weekly Review,Die Deutsche Wochenschau,1940,1945,12,Documentary,7.8,31
3,tt0039120,Americana,Americana,1947,1949,30,Family,3.0,8
6,tt0039123,Kraft Theatre,Kraft Television Theatre,1947,1958,60,Drama,8.5,128
8,tt0039125,Public Prosecutor,Public Prosecutor,1947,1951,20,Crime,5.9,7
9,tt0040021,Actor's Studio,Actor's Studio,1948,1950,30,Drama,7.3,55
...,...,...,...,...,...,...,...,...,...
249556,tt9915156,Tree in the River,Tree in the River,2018,0,0,Drama,6.0,6
249561,tt9915686,The Khatra Show,Khatra Khatra Khatra,2019,0,0,Comedy,7.0,152
249563,tt9915822,Ichhapyaari Naagin,Ichhapyaari Naagin,2016,2017,20,Fantasy,8.2,10
249571,tt9916206,Nojor,Nojor,2019,0,20,Fantasy,2.3,14
249575,tt9916380,Meie aasta Aafrikas,Meie aasta Aafrikas,2019,0,43,Adventure,9.1,101

**Our final main dataframe (with additional information from IMDb)**

In [110]:
# Rename the column we're merging on
imdb.rename(columns={'primaryTitle':'title'}, inplace=True)
imdb.reset_index(drop=True, inplace=True)
imdb

,tconst,title,originalTitle,release_year,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0035803,The German Weekly Review,Die Deutsche Wochenschau,1940,1945,12,Documentary,7.8,31
1,tt0039120,Americana,Americana,1947,1949,30,Family,3.0,8
2,tt0039123,Kraft Theatre,Kraft Television Theatre,1947,1958,60,Drama,8.5,128
3,tt0039125,Public Prosecutor,Public Prosecutor,1947,1951,20,Crime,5.9,7
4,tt0040021,Actor's Studio,Actor's Studio,1948,1950,30,Drama,7.3,55
...,...,...,...,...,...,...,...,...,...
89233,tt9915156,Tree in the River,Tree in the River,2018,0,0,Drama,6.0,6
89234,tt9915686,The Khatra Show,Khatra Khatra Khatra,2019,0,0,Comedy,7.0,152
89235,tt9915822,Ichhapyaari Naagin,Ichhapyaari Naagin,2016,2017,20,Fantasy,8.2,10
89236,tt9916206,Nojor,Nojor,2019,0,20,Fantasy,2.3,14
89237,tt9916380,Meie aasta Aafrikas,Meie aasta Aafrikas,2019,0,43,Adventure,9.1,101

In [111]:
# Lower caps for all titles
imdb['title'] = imdb['title'].str.lower()
df['title'] = df['title'].str.lower()

In [112]:
# List of imdb titles, lowercased
imbd_prititles = imdb['title'].tolist()
imbd_prititles = [x.lower() for x in imbd_prititles]
len(imbd_prititles)

89238

In [113]:
# List of titles in df, lowercased
netflix_titles = df['title'].tolist()
netflix_titles = [x.lower() for x in netflix_titles]
len(netflix_titles)

1968

In [114]:
# Compare df titles with imdb dataframe
match = imdb[imdb['title'].isin(netflix_titles)]
match.shape

(1818, 9)

In [115]:
# Compare imdb titles with df dataframe
match2 = df[df['title'].isin(imbd_prititles)]
match2.shape

(1507, 9)

In [116]:
# Merge
finaltable = pd.merge(df, match, on='title',how='left')
finaltable

,show_id,title,cast,country,year_added,latest_release_year,audience_rating,seasons,main_category,tconst,originalTitle,release_year,endYear,runtimeMinutes,genres,averageRating,numVotes
0,70234439,transformers prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018,2013,3,1,Kids' TV,tt1659175,Transformers Prime,2010.0,2013.0,30.0,Action,7.9,5130.0
1,80058654,transformers: robots in disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018,2016,3,1,Kids' TV,tt0231050,Toransufômâ: Kârobotto,2000.0,0.0,22.0,Action,6.7,472.0
2,80058654,transformers: robots in disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018,2016,3,1,Kids' TV,tt3604232,Transformers: Robots in Disguise,2014.0,2020.0,22.0,Action,6.0,799.0
3,80163890,apaches,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2017,2016,4,1,Crime TV Shows,tt4418844,Apaches,2015.0,2017.0,0.0,Drama,6.9,207.0
4,80117902,fire chasers,Unspecified,United States,2017,2017,4,1,Docuseries,tt7293754,Fire Chasers,2017.0,2017.0,0.0,Documentary,6.6,303.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,70286564,maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2017,2016,4,4,TV Comedies,tt2520512,Maron,2013.0,2016.0,22.0,Comedy,7.7,4491.0
2275,70281022,a young doctor's notebook and other stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2014,2013,4,2,British TV Shows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,70153404,friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2015,2003,3,10,Classic & Cult TV,tt0078615,Friends,1979.0,1979.0,60.0,Comedy,7.2,44.0
2277,70153404,friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2015,2003,3,10,Classic & Cult TV,tt0108778,Friends,1994.0,2004.0,22.0,Comedy,8.9,774183.0
2278,70153404,friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2015,2003,3,10,Classic & Cult TV,tt0315608,Friends,2002.0,0.0,0.0,Romance,7.8,174.0

In [117]:
finaltable['title'].duplicated().sum()

311

In [118]:
# Drop duplicated rows (by saving highest rating) 
finaltable = finaltable.sort_values('numVotes').drop_duplicates('title', keep='first')

In [119]:
finaltable

,show_id,title,cast,country,year_added,latest_release_year,audience_rating,seasons,main_category,tconst,originalTitle,release_year,endYear,runtimeMinutes,genres,averageRating,numVotes
147,81142594,tunnel 2019,"Todsapol Maisuk, Johnny Hao, Morakot Liu, Pemy...",Unspecified,2019,2019,4,1,Crime TV Shows,tt12020952,Tunnel,2019.0,2020.0,30.0,Crime,8.8,5.0
828,80156992,breakout,"Jeanette Aw, Elvin Ng, Zhou Ying, Christopher ...",Unspecified,2017,2010,3,1,International TV Shows,tt7131684,Breakout,2010.0,2011.0,45.0,Action,6.8,5.0
729,80157244,the dream job,"Hugo Ng, Shaun Chen, Jeanette Aw, Rebecca Lim,...",Singapore,2017,2016,3,1,International TV Shows,tt7131688,The Dream Job,2016.0,2016.0,45.0,Family,5.4,5.0
62,80135278,the beat,"Henley Hii, Yise Loo, Aric Ho, Tiffany Leong, ...",Unspecified,2017,2012,2,1,International TV Shows,tt0264961,The Beat,1993.0,0.0,60.0,Music,6.4,5.0
1736,70308105,grand hotel,"Yon González, Amaia Salamanca, Adriana Ozores,...",Spain,2017,2013,2,3,International TV Shows,tt2805632,Grand Hotel,2014.0,0.0,0.0,Crime,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,80050007,the mr. peabody and sherman show,"Chris Parnell, Max Charles, Dieter Jansen, Da'...",United States,2017,2017,3,4,Kids' TV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2249,80036747,pororo - the little penguin,Unspecified,South Korea,2019,2013,1,2,Kids' TV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2263,80186475,pokémon the series,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,2019,2019,3,2,Anime Series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,80067942,terrace house: boys & girls in the city,"You, Reina Triendl, Ryota Yamasato, Yoshimi To...",Japan,2016,2016,3,2,International TV Shows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2275,70281022,a young doctor's notebook and other stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2014,2013,4,2,British TV Shows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
finaltable.shape

(1968, 17)

In [121]:
finaltable.isnull().sum()

show_id                  0
title                    0
cast                     0
country                  0
year_added               0
latest_release_year      0
audience_rating          0
seasons                  0
main_category            0
tconst                 461
originalTitle          461
release_year           461
endYear                461
runtimeMinutes         461
genres                 472
averageRating          461
numVotes               461
dtype: int64

In [122]:
finaltable = finaltable.dropna(how='any', subset=['tconst'])
finaltable.reset_index(drop=True, inplace=True)
finaltable.shape

(1507, 17)

In [123]:
finaltable.isnull().sum()

show_id                 0
title                   0
cast                    0
country                 0
year_added              0
latest_release_year     0
audience_rating         0
seasons                 0
main_category           0
tconst                  0
originalTitle           0
release_year            0
endYear                 0
runtimeMinutes          0
genres                 11
averageRating           0
numVotes                0
dtype: int64

In [124]:
finaltable[finaltable.genres.isnull()]

,show_id,title,cast,country,year_added,latest_release_year,audience_rating,seasons,main_category,tconst,originalTitle,release_year,endYear,runtimeMinutes,genres,averageRating,numVotes
7,80126212,happy and,"Hee-Jin Lee, Hae-seong Kwon, Paul Stafford, Mi...",Unspecified,2016,2012,3,1,International TV Shows,tt6974334,Happy and,2011.0,0.0,30.0,NaN,4.6,5.0
17,80011206,zoo,"James Wolk, Kristen Connolly, Nonso Anozie, No...",United States,2017,2017,3,3,TV Dramas,tt0373649,Zoo,1996.0,0.0,0.0,NaN,7.7,6.0
24,80184208,timeline,"Santiwithi Phrombut, Jamorn Kijsawapak, Orrawa...",Unspecified,2018,2014,3,1,Crime TV Shows,tt9075716,Timeline,2019.0,0.0,0.0,NaN,6.7,6.0
73,81191473,candy online,"Ruby Zhan, Suun Lin, Sunnie Wang, Dean Tang, L...",Taiwan,2019,2019,4,1,International TV Shows,tt11330500,Candy Online,2019.0,2019.0,0.0,NaN,5.5,10.0
85,70266023,life on location,David Attenborough,United States,2015,2009,1,1,British TV Shows,tt6959610,Life on Location,2009.0,0.0,9.0,NaN,7.5,11.0
87,81049578,tango,"Bassel Khayyat, Daniella Rahme, Bassam Moughne...",Lebanon,2019,2018,3,1,International TV Shows,tt1769102,Tango,2010.0,0.0,90.0,NaN,6.1,11.0
114,80214772,bad guys: vile city,"Joong-hoon Park, Jin-mo Joo, Yang Ik-june, Moo...",South Korea,2018,2018,4,1,Crime TV Shows,tt12404980,Nappeun Nyeoseokdeul 2,2017.0,0.0,0.0,NaN,8.6,15.0
139,81038583,strongland,Unspecified,Unspecified,2019,2018,2,1,Docuseries,tt9647970,Strongland,2018.0,0.0,0.0,NaN,7.5,18.0
187,80190843,first and last,Unspecified,Unspecified,2018,2018,4,1,Docuseries,tt8558784,First and Last,2020.0,0.0,45.0,NaN,5.8,23.0
256,80022456,cooked,Michael Pollan,United States,2016,2016,2,1,Docuseries,tt3567196,Cooked,2015.0,0.0,0.0,NaN,7.5,39.0
630,80090370,case closed,"Minami Takayama, Alison Retzloff, Wakana Yamaz...",Japan,2019,2015,3,1,Anime Series,tt0105968,Case Closed,1993.0,1994.0,60.0,NaN,8.7,426.0

In [125]:
finaltable.at[7, 'genres'] = 'Drama'
finaltable.at[17, 'genres'] = 'Drama'
finaltable.at[24, 'genres'] = 'Documentary'
finaltable.at[73, 'genres']= 'Drama'
finaltable.at[85, 'genres'] = 'Documentary'
finaltable.at[87, 'genres'] = 'Drama'
finaltable.at[114, 'genres'] = 'Crime'
finaltable.at[139, 'genres'] = 'Documentary'
finaltable.at[187, 'genres'] = 'Documentary'
finaltable.at[256, 'genres'] = 'Documentary'
finaltable.at[630, 'genres'] = 'Mystery'

In [126]:
finaltable.genres.isnull().sum()

0

In [127]:
finaltable.genres.unique()

array(['Crime', 'Action', 'Family', 'Music', 'Sci-Fi', 'Comedy', 'Drama',
       'Documentary', 'Reality-TV', 'Fantasy', 'Animation', 'Game-Show',
       'Thriller', 'Adventure', 'Horror', 'Musical', 'Sport', 'Romance',
       'Short', 'History', 'Mystery', 'News', 'Talk-Show', 'Biography'],
      dtype=object)

In [128]:
finaltable.dtypes

show_id                  int64
title                   object
cast                    object
country                 object
year_added               int64
latest_release_year      int64
audience_rating          int64
seasons                  int64
main_category           object
tconst                  object
originalTitle           object
release_year           float64
endYear                float64
runtimeMinutes         float64
genres                  object
averageRating          float64
numVotes               float64
dtype: object

In [131]:
finaltable = finaltable.astype({'release_year': 'int64', 
                                'endYear': 'int64', 
                                'runtimeMinutes': 'int64',
                                'numVotes': 'int64'})
finaltable.dtypes

show_id                  int64
title                   object
cast                    object
country                 object
year_added               int64
latest_release_year      int64
audience_rating          int64
seasons                  int64
main_category           object
tconst                  object
originalTitle           object
release_year             int64
endYear                  int64
runtimeMinutes           int64
genres                  object
averageRating          float64
numVotes                 int64
dtype: object

In [132]:
finaltable.drop(['cast','tconst', 'originalTitle', 'endYear'], axis=1, inplace=True)

In [133]:
finaltable.columns

Index(['show_id', 'title', 'country', 'year_added', 'latest_release_year',
       'audience_rating', 'seasons', 'main_category', 'release_year',
       'runtimeMinutes', 'genres', 'averageRating', 'numVotes'],
      dtype='object')

In [135]:
finaltable = finaltable[['show_id', 'title', 'country',
                         'year_added', 'release_year', 'latest_release_year',
                         'seasons', 'runtimeMinutes', 'genres', 'main_category',
                         'audience_rating', 'averageRating', 'numVotes']]

In [136]:
# Capitalize each word
finaltable['title'] = finaltable['title'].str.title()

In [137]:
# Sort by rating 
finaltable.sort_values(by=['averageRating'])

,show_id,title,country,year_added,release_year,latest_release_year,seasons,runtimeMinutes,genres,main_category,audience_rating,averageRating,numVotes
6,80099753,Versailles,France,2019,2011,2018,3,0,Comedy,International TV Shows,4,1.6,5
295,80111273,Game Winning Hit,Taiwan,2016,2009,2009,1,45,Drama,International TV Shows,2,1.9,54
359,70152640,Cheers,United States,2017,2011,1992,11,0,Comedy,Classic & Cult TV,2,2.1,83
193,80202859,The Bachelor,Unspecified,2019,2003,2009,1,60,Reality-TV,Reality TV,3,2.1,24
987,80239337,Ben 10,United States,2018,2016,2016,1,12,Action,Kids' TV,3,2.5,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,80157488,The Truth,Unspecified,2017,2017,2008,1,25,Action,Crime TV Shows,3,9.3,9
1386,80990571,Blue Planet Ii,United Kingdom,2018,2017,2017,1,364,Documentary,British TV Shows,1,9.3,30047
41,80170720,Dandy,Mexico,2018,2018,2016,1,0,Comedy,Crime TV Shows,4,9.4,7
1454,80195377,Planet Earth Ii,United Kingdom,2017,2016,2016,1,298,Documentary,British TV Shows,1,9.5,90023
1506,70143836,Breaking Bad,United States,2013,2008,2013,5,49,Crime,Crime TV Shows,4,9.5,1373312

In [140]:
#save dataframe
finaltable.to_csv('finaltable.csv')

***

## Data Cleaning

### Cleaning and Joining the Wikipedia tables into one DataFrame

Wikipedia's 'List of Netflix original programming':
https://en.wikipedia.org/wiki/List_of_Netflix_original_programming#External_links   


info to scrape for closer analisis
1. create new dataframe for only Netflix original programming and add:


2. create new column in main dataframe:
- production type (1 if Netflix original production, 0 if not) INT

In [ ]:
# Make request
url = 'https://en.wikipedia.org/wiki/List_of_Netflix_original_programming#External_links'
response = r.get(url)
response

In [ ]:
drama_table = pd.read_html(response.text, header=0)[0]
comedy_table = pd.read_html(response.text, header=0)[1]
adultanimation_table = pd.read_html(response.text, header=0)[2]
familyanimation_table = pd.read_html(response.text, header=0)[3]
anime_table = pd.read_html(response.text, header=0)[4]
french_table = pd.read_html(response.text, header=0)[5]
german_table = pd.read_html(response.text, header=0)[6]
hindi_table = pd.read_html(response.text, header=0)[7]
italian_table = pd.read_html(response.text, header=0)[8]
japanese_table = pd.read_html(response.text, header=0)[9]
korean_table = pd.read_html(response.text, header=0)[10]
mandarin_table = pd.read_html(response.text, header=0)[11]
norwegian_table = pd.read_html(response.text, header=0)[12]
polish_table = pd.read_html(response.text, header=0)[13]
portuguese_table = pd.read_html(response.text, header=0)[14]
spanish_table = pd.read_html(response.text, header=0)[15]
turkish_table = pd.read_html(response.text, header=0)[16]
other_table = pd.read_html(response.text, header=0)[17]
docuseries_table = pd.read_html(response.text, header=0)[18]
reality_table = pd.read_html(response.text, header=0)[19]
talk_table = pd.read_html(response.text, header=0)[20]
##coproductions_table = pd.read_html(response.text, header=0)[21]
continuations_table = pd.read_html(response.text, header=0)[22]

**Drama**

In [ ]:
drama_table.columns

Genre

In [ ]:
# Copy the column and change the name to Subgenre 
drama_table['Subgenre'] = drama_table['Genre']

In [ ]:
drama_table.columns

In [ ]:
drama_table['Subgenre'].to_list()

In [ ]:
# Replace all the values of Genre with Drama
drama_table['Genre'] = 'Drama'

In [ ]:
drama_table['Genre'].unique()

Premiere

In [ ]:
drama_table['Premiere'].unique()

In [ ]:
# Keep only year
drama_table['Premiere'] = drama_table['Premiere'].str[-4:]

In [ ]:
drama_table['Premiere'].unique()

In [ ]:
# There's a wierd row
drama_table.tail(5)

In [ ]:
drama_table.drop([75], inplace=True)
drama_table.reset_index(drop=True, inplace=True)
drama_table.tail(5)

In [ ]:
#replace the incorrect value
drama_table['Premiere'] = np.where((drama_table.Premiere == '[42]'),2020,
                                   drama_table.Premiere)

In [ ]:
drama_table['Premiere'].unique()

Seasons

In [ ]:
drama_table['Seasons'].unique()

In [ ]:
drama_table[['Seasons','Episodes']] = drama_table.Seasons.str.split(",",expand=True,)
drama_table

In [ ]:
drama_table['Seasons'].unique()

In [ ]:
# Keep only number
drama_table['Seasons'] = drama_table['Seasons'].str[0]

In [ ]:
drama_table['Seasons'].unique()

In [ ]:
# Clean Episodes
drama_table['Episodes'].unique()

In [ ]:
drama_table['Episodes'].str[:1]

In [ ]:
drama_table

In [ ]:
#change to seasons/volumes/parts
#imdb.rename(columns={'primaryTitle':'title', 'startYear':'release_year'}, inplace=True)

Length

In [ ]:
drama_table['Length'].unique()

In [ ]:
drama_table['Length'] = drama_table['Length'].str[:5]

In [ ]:
drama_table['Length'].unique()

In [ ]:
drama_table[drama_table['Length'] == '23 mi']

In [ ]:
#replace the incorrect value
drama_table['Length'] = np.where((drama_table.Length == '23 mi'),23,
                                   drama_table.Length)

In [ ]:
drama_table['Length'].unique()

In [ ]:
drama_table['Length'] = drama_table['Length'].str[:2]

In [ ]:
drama_table['Length'].unique()

In [ ]:
drama_table['Length'] = np.where((drama_table.Length == '4–'),4,
                                   drama_table.Length)

In [ ]:
drama_table['Length'].unique()

Status

In [ ]:
drama_table['Status'].unique()

In [ ]:
drama_table['Status'] = drama_table['Status'].str[0]

In [ ]:
drama_table['Status'].value_counts()

In [ ]:
drama_table['Status'] = np.where((drama_table.Status == 'S'),'P',drama_table.Status)
drama_table['Status'] = np.where((drama_table.Status == 'M'),'E',drama_table.Status)

In [ ]:
drama_table['Status'].value_counts()

**Language**

In [ ]:
drama_table['Language'] = 'English'

In [ ]:
drama_table

**Comedy**

In [ ]:
comedy_table.columns

Genre

In [ ]:
comedy_table['Subgenre'] = comedy_table['Genre']

In [ ]:
comedy_table['Genre'] = 'Comedy'

Premiere

In [ ]:
comedy_table['Premiere'].unique()

In [ ]:
comedy_table['Premiere'] = comedy_table['Premiere'].str[-4:]

In [ ]:
comedy_table['Premiere'].value_counts()

Seasons

In [ ]:
comedy_table['Seasons'].unique()

In [ ]:
comedy_table[['Seasons','Episodes']] = comedy_table.Seasons.str.split(",",expand=True,)
comedy_table

In [ ]:
# Keep only number
comedy_table['Seasons'] = comedy_table['Seasons'].str[:1]

In [ ]:
comedy_table['Seasons'].value_counts()

In [ ]:
comedy_table['Episodes'] = comedy_table['Episodes'].str[:1]

In [ ]:
comedy_table

Lenght

In [ ]:
comedy_table['Length'] = comedy_table['Length'].str[:5]

Status

In [ ]:
comedy_table['Status'] = comedy_table['Status'].str[0]

In [ ]:
comedy_table['Status'].unique()

In [ ]:
comedy_table['Status'] = np.where((comedy_table.Status == 'M'),'E',comedy_table.Status)

In [ ]:
comedy_table['Status'].unique()

Language

In [ ]:
comedy_table['Language'] = 'English'

In [ ]:
comedy_table

**Adult Animation**

In [ ]:
adultanimation_table.columns

Genre

In [ ]:
adultanimation_table['Subgenre'] = adultanimation_table['Genre']

In [ ]:
adultanimation_table['Subgenre']

In [ ]:
adultanimation_table['Genre'] = 'Comedy'

In [ ]:
adultanimation_table

Premiere

In [ ]:
adultanimation_table['Premiere'] = adultanimation_table['Premiere'].str[-4:]

In [ ]:
adultanimation_table['Premiere'].unique()

Seasons

In [ ]:
adultanimation_table[['Seasons','Episodes']] = adultanimation_table.Seasons.str.split(",",expand=True,)
adultanimation_table

In [ ]:
adultanimation_table['Seasons'] = adultanimation_table['Seasons'].str[:1]
adultanimation_table['Episodes'] = adultanimation_table['Episodes'].str[:1]

In [ ]:
adultanimation_table

Length

In [ ]:
adultanimation_table['Length'] = adultanimation_table['Length'].str[:5]

In [ ]:
adultanimation_table['Length'].unique()

Status

In [ ]:
adultanimation_table['Status'] = comedy_table['Status'].str[0]

In [ ]:
adultanimation_table['Status'].unique()

Language

In [ ]:
adultanimation_table['Language'] = 'English'

In [ ]:
adultanimation_table

**Family Animation**

In [ ]:
familyanimation_table.columns

Genre

In [ ]:
familyanimation_table['Genre'] = 'Family'

Premiere

In [ ]:
familyanimation_table['Premiere'] = familyanimation_table['Premiere'].str[-4:]

In [ ]:
familyanimation_table['Premiere'].unique()

Seasons

In [ ]:
familyanimation_table[['Seasons','Episodes']] = familyanimation_table.Seasons.str.split(",",expand=True,)
familyanimation_table

In [ ]:
familyanimation_table['Seasons'] = familyanimation_table['Seasons'].str[:1]

In [ ]:
familyanimation_table['Episodes'] = familyanimation_table['Episodes'].str[0:1]

In [ ]:
familyanimation_table['Episodes'].unique()

Length

In [ ]:
familyanimation_table['Length'] = familyanimation_table['Length'].str[:5]

In [ ]:
familyanimation_table['Length'].unique()

Status

In [ ]:
familyanimation_table['Status'] = familyanimation_table['Status'].str[0]

In [ ]:
familyanimation_table['Status'].unique()

Language

In [ ]:
familyanimation_table['Language'] = 'English'

In [ ]:
familyanimation_table

In [ ]:
familyanimation_table.drop([85], inplace=True)
familyanimation_table.reset_index(drop=True, inplace=True)
familyanimation_table.tail(5)

**Anime**

***

### Webscraping

**2. Scrape the website**

In [ ]:
url = ''
soup=BeautifulSoup(r.get(url).content)
soup

In [ ]:
# Parse html content
soup = BeautifulSoup(response.text, 'html.parser')
soup

In [ ]:
#table id's
drama = 'dramashows'
comedy = 'comedyshows'
adultanimation = 'animationshows'
familyanimation = 'childrenfamilyshows'
anime = 'animeshows'

In [ ]:
drama_table = soup.find('table', attrs={'id':drama})
comedy_table = soup.find('table', attrs={'id':comedy})
adultanimation_table = soup.find('table', attrs={'id':adultanimation})
familyanimation_table = soup.find('table', attrs={'id':familyanimation})
anime_table = soup.find('table', attrs={'id':anime})